#menu{
	position: fixed;
	width: 100%;
	height: 30px;
	background: rgb(81, 153, 241);
	text-align: center;
	padding-top: 10px;
	color: white;
}

#menu a {
	color: white;
}

.section{
	text-align: center;
}
