#menu {
	position: fixed;
	width: 100%;
	height: 30px;
	background: rgb(48, 186, 60);
	display: flex; /* Use flexbox */
	justify-content: space-around; /* Distribute space evenly between links */
	align-items: center; /* Center items vertically */
}

#menu a {
    color: white;
}

#menu a:hover {
    color: #030701;
}

#logo {
	width: 30px;
	height: 30px;
}


.section{
	text-align: center;
	background: rgb(203, 234, 203);
}

.minTitle{
	color: rgb(3, 114, 12);
	font-size: 30px;
	font-weight: bold;
	border-bottom: 4px solid white;
}

.ID {
	width: 600px; 
	margin: 0 auto; 
	border-color: white; 
	font-weight: bold;
}

.ID td {
	font-size: 20px; 
}

.ID tr:nth-child(even) {
	background-color: rgb(175, 236, 180);
  }
  

.ID tr:nth-child(odd) {
	background-color: rgb(69, 212, 81);
}


.ID tr:hover {
	background-color: #dddddd;
}


p{
	font-size: 20px;
}

#mailForm label{
	font-size: 30px;
	font-weight: bold;
}

#mailForm input[type="email"],
#mailForm input[type="submit"],
#mailForm textarea,
#mailForm select{
	font-size: 30px;
}


h1{
	font-size: 30px;
	margin-top: 50px;
	text-decoration: underline;
	color: rgb(48, 117, 54);
}

.info {
    border: 2px solid rgb(79, 164, 86);
	border-radius: 10%;
    margin-left: 500px;
	margin-right: 500px;
	margin-top: 30px;
}

.image {
    border: 2px solid rgb(79, 164, 86);
	border-radius: 20%;
    margin-left: 600px;
	margin-right: 600px;
	margin-top: 30px;
}


.image img {
	transition: transform 0.3s;
}

/* CSS for hover effect */
.image img:hover {
transform: scale(1.1);
background-color: rgb(102, 168, 107);
}

.image {
	background-color: rgb(205, 247, 205);
}

.image:hover {
	background-color: rgb(175, 210, 175);
}

.container {
    display: flex;
    justify-content: space-around;
  }
  
.ans {
	border: 2px solid rgb(79, 164, 86);
	margin-top: 30px;
	width: 30%;
}
