/*---------------------------------------------- Menu --------------------------------------------- */

#menu {
	position: fixed;
	width: 100%;
	height: 30px;
	background: rgb(48, 186, 60);
	display: flex; 
	justify-content: space-around; 
	align-items: center;
}

#menu a {
    color: white;
}

#menu a:hover {
    color: #030701;
}

#logo {
	width: 30px;
	height: 25px;
}

/*---------------------------------------------- General --------------------------------------------- */

.minTitle{
	color: rgb(3, 114, 12);
	font-size: 30px;
	font-weight: bold;
	border-bottom: 4px solid white;
}


.section{
	text-align: center;
	background: rgb(203, 234, 203);
}


p{
	font-size: 15px;
}

h1{
	font-size: 20px;
	margin-top: 35px;
	text-decoration: underline;
	color: rgb(48, 117, 54);
}

.container {
    display: flex;
    justify-content: space-around;
}


/*---------------------------------------------- About Me --------------------------------------------- */

.ID {
	width: 25%; 
	margin: 0 auto; 
	border-color: white; 
	font-weight: bold;
}

.ID td {
	font-size: 15px; 
}

.ID tr:nth-child(even) {
	background-color: rgb(175, 236, 180);
  }
  

.ID tr:nth-child(odd) {
	background-color: rgb(69, 212, 81);
}


.ID tr:hover {
	background-color: #dddddd;
}

.info {
    border: 2px solid rgb(79, 164, 86);
	margin-top: 30px;
	width: 30%;
}


#mailForm label{
	font-size: 30px;
	font-weight: bold;
}

#mailForm input[type="email"],
#mailForm input[type="submit"],
#mailForm textarea,
#mailForm select{
	font-size: 30px;
}


/*---------------------------------------------- Photos --------------------------------------------- */

.image img {
	transition: transform 0.3s;
}

.image img:hover {
	transform: scale(1.5);
}


/*---------------------------------------------- Q&A --------------------------------------------- */

.ans {
	border: 2px solid rgb(79, 164, 86);
	margin-top: 30px;
	width: 30%;
}
